// START colors
$white: #ffffff;

$darkGrayishBlue01: #4e5257;
$darkGrayishBlue02: #363a3f;
$darkGrayishBlue03: #929eae;
$darkGrayishBlue04: #7b8592;
$darkblue: #1b212d;
$lightGrayishRed: #ebe8e8;
$grayishBlue: #abb4c0;
$lightgray01: #f8f8f8;
$lightgray02: #fafafa;
$darkModerateBlue: #5243aa;
$lightGrayishBlue: #f3f6f8;

// Deprecated

$neutral10: #fafafa;
$neutral20: #d9d9d9;
$neutral30: #c1c1c1;
$neutral40: #a9a9a9;
$neutral50: #919191;
$neutral60: #797979;
$neutral70: #606060;
$neutral80: #484848;
$neutral90: #303030;
$neutral100: #181818;

$primary0: #e3f6a1;
$primary10: #def48e;
$primary20: #d8f37c;
$primary30: #d3f169;
$primary40: #cdef56;
$primary50: #c8ee44;
$primary60: #b4d63d;
$primary70: #a0be36;
$primary80: #8ca62f;
$primary90: #788e28;
$primary100: #647722;

$secondary0: #94cfb9;
$secondary10: #7ec6ab;
$secondary20: #69bc9d;
$secondary30: #53b38f;
$secondary40: #3ea981;
$secondary50: #29a073;
$secondary60: #249067;
$secondary70: #20805c;
$secondary80: #1c7050;
$secondary90: #186045;
$secondary100: #145039;

$rating100: #ffb661;

$error10: #fde7eb;
$error100: #ee1133;

$success10: #ceecd7;
$success100: #31b057;
// END colors

$headerHeight: 70px;
