@import '../../../app/styles/variables.scss';

.wrapper {
    margin-top: 30px;
    border: 1px solid $lightgray01;
    border-radius: 12px;
    padding: 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
