@import '../../../app/styles/variables.scss';

.button {
    $button: &;

    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;

    // button__small
    &__small {
        padding: 8px 12px;
        border-radius: 12px;
        gap: 8px;
    }

    // button__medium
    &__medium {
        padding: 8px 20px;
        border-radius: 12px;
        gap: 8px;
    }

    // button__large
    &__large {
        padding: 14px 32px;
        border-radius: 10px;
        gap: 8px;
    }

    // button__primary
    &__primary {
        background-color: $primary50;
        color: $darkblue;

        &:hover {
            background-color: $primary30;
        }

        &:active {
            background-color: $primary70;
        }

        &:disabled {
            background-color: $neutral20;
            color: $neutral50;
            cursor: not-allowed;
        }
    }

    // button__secondary
    &__secondary {
        background-color: $white;
        border: 1px solid $primary50;
        color: $primary50;

        &:hover {
            border: 1px solid $primary40;
            color: $primary40;
        }

        &:active {
            background-color: $primary10;
            border: 1px solid $primary80;
            color: $primary80;
        }

        &:disabled {
            border: 1px solid $neutral20;
            color: $neutral50;
            cursor: not-allowed;
        }
    }

    // button__link
    &__link {
        background-color: transparent;
        color: $secondary50;
        padding: 0px;

        &:hover {
            color: $secondary30;
        }

        &:active {
            color: $secondary70;
        }

        &:disabled {
            color: $neutral50;
            cursor: not-allowed;
        }
    }
}

.loader {
    position: absolute;
    z-index: 9;
    border-radius: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;

    // loader_spinner
    &_spinner {
        height: 24px;
        width: 24px;
        animation: 1s linear infinite spinner;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
