.heading1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}

.heading2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.heading3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.heading4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.heading5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.heading6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.subtitle1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.subtitle2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.body1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.body2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.overline {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
